In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [3]:
# Run these once ... Just in case 
# !pip install nose 
# !pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [4]:
def is_prime(num):
    '''
    Accepts a number as a parameter and returns true if that number is a prime number and false otherwise.
    A prime number is defined as a number which is only divisible by one and itself.
    '''
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

def sieve(num):
    primes = []
    non_primes = []

    for i in range(2, num + 1):
        if is_prime(i):
            primes.append(i)
        else:
            non_primes.append(i)
            
    nums = (tuple(primes), tuple(non_primes))
    return nums

num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

In [5]:
grader.check("q1")

q1 results: All test cases passed!

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [9]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket‚Äôs first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage‚Äôs five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the ‚Äú* 10 ^‚Äù with ‚ÄòE‚Äô -/capital e\-. So our numbers would look like:s"

dictionary = {}
for word in paragraph:
    if word in dictionary:
        dictionary[word] = dictionary[word] + 1
    else:
        dictionary[word] = 1

print(dictionary)

{'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '‚Äô': 3, '0': 22, ',': 7, '(': 3, ')': 3, 'q': 3, 'A': 2, 'v': 4, 'F': 1, '-': 4, '{': 2, '}': 2, 'O': 3, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 2, '*': 4, '^': 4, '‚Äú': 1, '‚Äù': 1, '‚Äò': 1, 'E': 1, '/': 1, '\\': 1}

In [6]:
grader.check("q2")

q2 results: All test cases passed!

**Question 3:** Extract the values from the dictionary above into a list

In [14]:
keysList = dictionary.values()
print (keysList)

dict_values([3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1])

In [10]:
grader.check("q3")

q3 results: All test cases passed!

**Question 4:** Extract the keys from the dictionary above into a list

In [11]:
valuesList = dictionary.keys()
print (valuesList)

dict_keys(['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\'])

In [12]:
grader.check("q4")

q4 results: All test cases passed!

**Question 5:** Merge the two lists into a tuple

In [15]:
final_tuple = (tuple(valuesList), tuple(keysList))
print(final_tuple)

(('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))

In [16]:
grader.check("q5")

q5 results: All test cases passed!

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [17]:
def greatest_common_divisor(a, b):
    smaller_num = min(a, b)
    gcd = 1

    for i in range(2, smaller_num):
        if a % i == 0 and b % i == 0:
            gcd = i
    
    return gcd

In [18]:
grader.check("q6")

q6 results: All test cases passed!

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [19]:
def distance_between_points(a, b):
    '''
    Accepts two points in 2D space, a & b and uses the Euclidean distance formula to calculate the distance between them.
    '''
    return math.sqrt((b[0] - a[0])**2 + (b[1] - a[1])**2)

def get_nearest_farthest(pt, ptlist):
    max_distance = float('-inf')
    min_distance = float('inf')
    closest_point = ()
    furthest_point = ()
    
    for i in ptlist:
        curr_distance = distance_between_points(pt, i)
        
        if curr_distance > max_distance:
            max_distance = curr_distance
            furthest_point = i
        if curr_distance < min_distance:
            min_distance = curr_distance
            closest_point = i
    
    return (closest_point, furthest_point)

In [20]:
grader.check("q7")

q7 results: All test cases passed!

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [21]:
def perfectly_divisible(N, q):
    if N < 0:
        N = 20
    
    divisible_nums = []
    for i in range(N + 1):
        if i % q == 0:
            divisible_nums.append(i)

    return divisible_nums

In [22]:
grader.check("q8")

q8 results: All test cases passed!

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [23]:
def flatten_lists(superlist):
    flattened_list = []

    for sublist in superlist:
        for i in sublist:
            flattened_list.append(i)

    return sorted(flattened_list)

In [24]:
grader.check("q9")

q9 results: All test cases passed!

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [3]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv(r'Nakuru_Sensor_Data_Feb_2023.csv',usecols=['timestamp','value_type','value'], sep=';')

print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

[42990 rows x 3 columns]

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [4]:
df['timestamp_new']=pd.to_datetime(df['timestamp']).dt.round('S') # seconds
print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100  \
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

                  timestamp_new
0     2023-02-04 04:22:51+00:00
1     2023-02-04 04:22:51+00:00
2     2023-02-04 04:22:51+00:00
3     2023-02-04 04:22:51+00:00
4     2023-02-04 04:25:32+00:00
...                         ...
42985 2023-02-24 07:51:56+00:00
42986 2023-02-24 07:54:36+00:00
42987 2023-02-24 07:54:36+00:00
42988 2023-02-24 07:54:36+00:00
42989 2023-02-24 07:54:36+00:00

[42990 rows x 4 columns]

**Question E2:** Split the dataframe based on the 'value_type' collumn

In [5]:
grouped = df.groupby(by='value_type', as_index=False).apply(lambda x: x)
df_temperature = df[df['value_type']=='temperature']
df_humidity = df[df['value_type']=='humidity']
df_P1 = df[df['value_type']=='P1']
df_P2 = df[df['value_type']=='P2']

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [6]:
mu_temp=df_temperature["value"].mean()
med_temp = df_temperature["value"].median()
sd_temp = df_temperature["value"].std()
print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

mu_humidity=df_humidity["value"].mean()
med_humidity = df_humidity["value"].median()
sd_humidity = df_humidity["value"].std()
print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

mu_P1=df_P1["value"].mean()
med_P1 = df_P1["value"].median()
sd_P1 = df_P1["value"].std()
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

mu_P2=df_P2["value"].mean()
med_P2 = df_P2["value"].median()
sd_P2 = df_P2["value"].std()
print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

Temperature
Mean =  22.35287548855388 Median =  22.0 Standard Deviation =  7.218686624924896
Humidity
Mean =  64.31109249953471 Median =  61.0 Standard Deviation =  22.407697062564353
P1
Mean =  28.508605451669922 Median =  20.0 Standard Deviation =  33.691468361874755
P2
Mean =  11.30142338822216 Median =  8.0 Standard Deviation =  11.865466667566395

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [7]:
# df_merged=pd.merge(pd.merge(pd.merge(df_temperature, df_humidity, on=['timestamp', 'timestamp_new']), df_P1, on='timestamp'), df_P2, on='timestamp')
df_merged=df_temperature.merge(df_humidity, on=['timestamp', 'timestamp_new'], suffixes=("_temperature", "_humidity"), how="outer")
df_merged=df_merged.merge(df_P1, on=['timestamp', 'timestamp_new'], suffixes=("_humidity", "_P1"), how="outer")
df_merged=df_merged.merge(df_P2, on=['timestamp', 'timestamp_new'], suffixes=("_P1", "_P2"), how="outer")
print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

                              timestamp value_type_temperature
0      2023-02-04T04:22:51.323124+00:00            temperature  \
1      2023-02-04T04:25:32.354784+00:00            temperature
2      2023-02-04T04:28:12.716734+00:00            temperature
3      2023-02-04T04:30:52.437513+00:00            temperature
4      2023-02-04T04:33:32.677578+00:00            temperature
...                                 ...                    ...
21443  2023-02-24T07:43:55.409324+00:00                    NaN
21444  2023-02-24T07:46:35.195110+00:00                    NaN
21445  2023-02-24T07:49:15.757782+00:00                    NaN
21446  2023-02-24T07:51:55.687147+00:00                    NaN
21447  2023-02-24T07:54:35.530545+00:00                    NaN

       value_temperature             timestamp_new value_type_humidity
0                   12.0 2023-02-04 04:22:51+00:00            humidity  \
1                   11.0 2023-02-04 04:25:32+00:00            humidity
2                   12.0 2023-02-04 04:28:13+00:00            humidity
3                   12.0 2023-02-04 04:30:52+00:00            humidity
4                   12.0 2023-02-04 04:33:33+00:00            humidity
...                  ...                       ...                 ...
21443                NaN 2023-02-24 07:43:55+00:00                 NaN
21444                NaN 2023-02-24 07:46:35+00:00                 NaN
21445                NaN 2023-02-24 07:49:16+00:00                 NaN
21446                NaN 2023-02-24 07:51:56+00:00                 NaN
21447                NaN 2023-02-24 07:54:36+00:00                 NaN

       value_humidity value_type_P1  value_P1 value_type_P2  value_P2
0               100.0           NaN       NaN           NaN       NaN
1               100.0           NaN       NaN           NaN       NaN
2               100.0           NaN       NaN           NaN       NaN
3               100.0           NaN       NaN           NaN       NaN
4               100.0           NaN       NaN           NaN       NaN
...               ...           ...       ...           ...       ...
21443             NaN            P1       0.0            P2       0.0
21444             NaN            P1       7.0            P2       7.0
21445             NaN            P1       1.0            P2       1.0
21446             NaN            P1       0.0            P2       0.0
21447             NaN            P1       0.0            P2       0.0

[21448 rows x 10 columns]

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [8]:
new_df = pd.read_csv(r'newdata.csv', usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
new_df

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12.0,2023-02-04 04:22:51+00:00,100.0,NaN,NaN
1,11.0,2023-02-04 04:25:32+00:00,100.0,NaN,NaN
2,12.0,2023-02-04 04:28:13+00:00,100.0,NaN,NaN
3,12.0,2023-02-04 04:30:52+00:00,100.0,NaN,NaN
4,12.0,2023-02-04 04:33:33+00:00,100.0,NaN,NaN
...,...,...,...,...,...
21443,NaN,2023-02-24 07:43:55+00:00,NaN,0.0,0.0
21444,NaN,2023-02-24 07:46:35+00:00,NaN,7.0,7.0
21445,NaN,2023-02-24 07:49:16+00:00,NaN,1.0,1.0
21446,NaN,2023-02-24 07:51:56+00:00,NaN,0.0,0.0
21447,NaN,2023-02-24 07:54:36+00:00,NaN,0.0,0.0

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [9]:
#Check for missing values 
missing_values = new_df.isnull()

# displaying data only with NaN
missing_values = missing_values[(missing_values["value_P1"] == True) | (missing_values["value_P2"] == True)]

In [10]:
mean_value_P1 = new_df['value_P1'].mean()
mean_value_P2 = new_df['value_P2'].mean()

print("The mean of P1",mean_value_P1)
print("The mean of P2",mean_value_P2)
new_df

#replace missing values with the mean 
new_df['value_P1'] = new_df['value_P1'].fillna(mean_value_P1)
new_df['value_P2'] = new_df['value_P2'].fillna(mean_value_P2)
new_df

The mean of P1 28.508605451669922
The mean of P2 11.30142338822216

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12.0,2023-02-04 04:22:51+00:00,100.0,28.508605,11.301423
1,11.0,2023-02-04 04:25:32+00:00,100.0,28.508605,11.301423
2,12.0,2023-02-04 04:28:13+00:00,100.0,28.508605,11.301423
3,12.0,2023-02-04 04:30:52+00:00,100.0,28.508605,11.301423
4,12.0,2023-02-04 04:33:33+00:00,100.0,28.508605,11.301423
...,...,...,...,...,...
21443,NaN,2023-02-24 07:43:55+00:00,NaN,0.000000,0.000000
21444,NaN,2023-02-24 07:46:35+00:00,NaN,7.000000,7.000000
21445,NaN,2023-02-24 07:49:16+00:00,NaN,1.000000,1.000000
21446,NaN,2023-02-24 07:51:56+00:00,NaN,0.000000,0.000000
21447,NaN,2023-02-24 07:54:36+00:00,NaN,0.000000,0.000000

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [11]:
#Correlation between temperature and humidity
corr_temp_hum = new_df["value_temperature"].corr(new_df["value_humidity"])

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
corr_p1_p2 = new_df["value_P1"].corr(new_df["value_P2"])

print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between temparature and humidity -0.9028239849182673
Correlation between P1 and P2 0.8756344964409961

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

In [15]:
new_df['timestamp_new'] = pd.to_datetime(new_df['timestamp_new'])
new_df.set_index("timestamp_new")
new_df.index = new_df["timestamp_new"]
# df_daily = df.resample('D').mean()
means_feb = new_df.resample("D").mean()
means_feb

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
timestamp_new,,,,,
2023-02-04 00:00:00+00:00,24.314480,2023-02-04 14:11:11.859250688+00:00,53.791855,24.894753,9.029881
2023-02-05 00:00:00+00:00,21.777778,2023-02-05 12:01:37.739573760+00:00,63.468519,23.653511,8.774298
2023-02-06 00:00:00+00:00,22.356215,2023-02-06 12:00:12.146567680+00:00,60.747681,26.280277,10.227706
2023-02-07 00:00:00+00:00,22.609982,2023-02-07 12:01:01.462962944+00:00,65.680222,24.657535,9.715247
2023-02-08 00:00:00+00:00,22.048237,2023-02-08 12:00:17.769804288+00:00,70.966605,29.617517,12.708257
2023-02-09 00:00:00+00:00,21.735185,2023-02-09 11:59:13.886722304+00:00,71.505556,29.141245,12.837386
2023-02-10 00:00:00+00:00,22.472426,2023-02-10 12:01:24.997245184+00:00,63.599265,28.010260,11.434961
2023-02-11 00:00:00+00:00,22.235185,2023-02-11 11:57:46.281742336+00:00,66.787037,28.157681,11.568552
2023-02-12 00:00:00+00:00,22.003724,2023-02-12 12:00:18.182665472+00:00,60.225326,25.841205,9.790832
2023-02-13 00:00:00+00:00,21.717153,2023-02-13 12:02:55.641353984+00:00,56.359489,36.958088,13.906931
2023-02-14 00:00:00+00:00,22.888683,2023-02-14 12:01:12.760930304+00:00,64.098330,35.797779,13.772617
2023-02-15 00:00:00+00:00,22.963100,2023-02-15 12:00:50.253703680+00:00,66.583026,33.555213,14.122376
2023-02-16 00:00:00+00:00,23.207650,2023-02-16 12:04:47.201649920+00:00,67.373406,33.440122,13.329673
2023-02-17 00:00:00+00:00,22.722222,2023-02-17 11:59:31.864689664+00:00,62.850000,29.940814,11.788199
2023-02-18 00:00:00+00:00,22.359259,2023-02-18 11:58:50.537534976+00:00,64.177778,32.191046,12.494409
2023-02-19 00:00:00+00:00,18.178571,2023-02-19 12:58:11.678129408+00:00,79.791209,28.907999,12.228494
2023-02-20 00:00:00+00:00,22.748175,2023-02-20 12:05:14.886550784+00:00,61.552920,29.468609,11.882228
2023-02-21 00:00:00+00:00,22.491833,2023-02-21 12:03:53.070780416+00:00,59.882033,31.450756,12.176754
2023-02-22 00:00:00+00:00,23.468750,2023-02-22 12:00:11.268698112+00:00,61.586397,27.691725,10.161096
2023-02-23 00:00:00+00:00,23.608133,2023-02-23 12:00:07.434782720+00:00,60.948244,14.412254,5.709314
2023-02-24 00:00:00+00:00,16.640449,2023-02-24 03:58:22.985955072+00:00,87.320225,14.509921,5.830487

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [ ]:
...
means_nov = ...
means_nov

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [ ]:
feb_numpy_array = ...
feb_average = ...
feb_average

In [ ]:
nov_numpy_array = ...
nov_average = ...
nov_average

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

In [ ]:
def sub():
    ...
    return diff
 
# Print the result of the subtraction
difference = sub()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)